@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  background: #080808;
}

body {
  margin: 0;
  background: #080808;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

::selection {
  background: white;
  color: black;
}
